@{ ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h2>YETENEK EKLEME SAYFASI</h2>
<br />

<form method="post" class="form-group">
    <div>
        <label>YETENEK EKLE</label>
        <input type="text" name="Yetenek" class="form-control" placeholder="Yeteneğinizi Giriniz.." />
    </div>

    <div>
        <label>YETENEK ORANI EKLE</label>
        <input type="text" name="Oran" class="form-control" placeholder="Yeteneğinizin Oranını Giriniz.." />
    </div>
    <br />
    <button class="btn btn-danger">Ekle</button>
</form>

