<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İLETİSİM</h2>

        <label style="font-weight:bold;" >AD SOYAD</label>
        <input type="text" class="form-control" name="AdSoyad" />

        <br />

        <label style="font-weight:bold;" > MAİL</label>
        <input type="text" class="form-control" name="Mail" />

        <br />

        <label style="font-weight:bold;" >KONU</label>
        <input type="text" class="form-control" name="Konu" />

        <br />

        <label style="font-weight:bold;" > MESAJ</label>
        <input type="text" class="form-control" name="Mesaj"/>

        <br />

        <button class="btn btn-primary">Mesaj Gönder</button>

    </form>

</div>
